<h1>Listing cats</h1>

<% if current_cat %>
  <h2><%= t(:welcome, name: current_cat.name) %></h2>
  <p>
    AJAX
    <br>
    <%# http://edgeguides.rubyonrails.org/working_with_javascript_in_rails.html %>
    <%= link_to "Logout", logout_path, method: :delete, confirm: 'Logout?', remote: true %>
  </p>
  <p>
    Non AJAX
    <br>
    <%= render "logout_form" %>
    </p>
<% else %>
  <%# http://guides.rubyonrails.org/layouts_and_rendering.html#using-partials %>
  <%= render "login_form" %>
<% end %>

<% if @cat_of_the_month %>
  <h2>Cat with more followers last month</h2>
  <p>
    <%= link_to @cat_of_the_month.name, cat_path(@cat_of_the_month) %>
  </p>
<% end %>

<div id="api-data-response">
  <%= link_to "Perfom api request", "#", id: "api-data-perform-link" %>
</div>

<script>
  $("#api-data-perform-link").click(function() {
    $.ajax({
      url: '<%= api_v1_cats_path %>',
      data: { offset: 1, limit: 1 },
      dataType: "json"
    }).done(function(response) {
      $("#api-data-response").html(JSON.stringify(response));
    });
  });
</script>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>Followers count</th>
      <th>Followed by count</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @cats.each do |cat| %>
      <% if policy(cat).show? %>
          <tr>
            <% cache(cat) do %>
              <td><%= link_to cat.name, cat_path(cat) %></td>
              <td><%= localize_date cat.birthday %></td>
              <td><%= cat.followers.count %></td>
              <td><%= cat.followed_by.count %></td>
            <% end %>
            <td>
              <% if policy(cat).edit? %>
                <%= link_to "Edit", edit_cat_path(cat) %>
              <% end %>
            </td>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @cats %>
