<h1>Listing cats</h1>

<% if loggedin_cat %>
  <h2>Hello <%= loggedin_cat.name %></h2>
  <%# http://edgeguides.rubyonrails.org/working_with_javascript_in_rails.html %>
  <%= link_to "Logout", logout_path, method: :delete, confirm: 'Logout?', remote: true %>
<% else %>
  <%# http://guides.rubyonrails.org/layouts_and_rendering.html#using-partials %>
  <%= render "login_form" %>
<% end %>

<% if @cat_of_the_month %>
  <h2>Cat with more followers last month</h2>
  <p>
    <%= link_to @cat_of_the_month.name, cat_path(@cat_of_the_month) %>
  </p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>Followers count</th>
      <th>Followed by count</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @cats.each do |cat| %>
      <% cache(cat) do %>
        <tr>
          <td><%= link_to cat.name, cat_path(cat) %></td>
          <td><%= localize_date cat.birthday %></td>
          <td><%= cat.followers.count %></td>
          <td><%= cat.followed_by.count %></td>
          <td><%= link_to "Edit", edit_cat_path(cat) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate @cats %>
